body {
    box-sizing: border-box;
    background-color: rgb(46, 49, 85);
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
}
canvas {
    background-color: black;
}
.settings {
    display: flex;
    width: 100%;
    border: 3px solid black;
    border-radius: 15%;
    overflow: hidden;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.button {
    padding: 5px;
    text-align: center;
}

.column .button {
    border: none;
    height: 25px;
    background-color: green;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.877);
}

.column .button:first-child {
    border-bottom: 1px solid black;
}
.column {
    border-right: 1px solid black;
}
.column:last-child {
    border-right: 0px;
}

.button:active {
    background-color: rgb(82, 17, 5);
}

.deactive {
    display: none;
}

.about {
    width: 100%;
}
.about_button {
    text-align: center;
    width: 90%;
    background-color: green;
    color: rgba(255, 255, 255, 0.877);
    margin: 10px auto 0px;
    padding: 5px 0;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 15%;
}
.about_button.active {
    background-color: rgb(7, 95, 112);
}
.about_content {
    background-color: rgb(17, 160, 204);
    padding: 5px;
    border: 2px solid black;
    font-size: 20px;
}
.about_list {
    max-width: 80%;
    margin: 0px;
}

.warning {
    color: rgb(167, 12, 12);
}

#loop {
    margin: 5px 0 5px;
    color: rgba(255, 255, 255, 0.849);
    font-size: 18px;
}

.speedLoop {
    width: 300px;
    display: flex;
    align-items: center;
}
#speed {
    display: block;
    width: 110px;
    color: rgba(255, 255, 255, 0.849);
    font-size: 15px;
    margin: 0px;
}
#speedValue {
    position: relative;
    top: -2px;
}
.speedValue {
    width: 250px;
    display: flex;
    flex-direction: column;
}
.loop {
    text-align: center;
    width: 250px;
}

@media (min-width: 500px) {
    .content {
        max-width: 100%;
    }
    .settings {
        width: 100%;
        border-radius: 0;
        max-width: 500px;
    }
    .about {
        max-width: 30%;
        min-width: 500px;
    }
    .about_button {
        border-radius: 0%;
    }
    .speedValue {
        width: 300px;
        display: flex;
        flex-direction: row;
        margin-left: 10px;
    }
    .loop {
        text-align: center;
        width: 300px;
    }
    .speedLoop {
        width: 600px;
        display: flex;
        align-items: center;
    }
    #speed {
        color: rgba(255, 255, 255, 0.849);
        font-size: 18px;
        margin-top: 0;
    }
    #speedValue {
        position: relative;
        top: 1px;
    }
}
